@{
    ViewData["Title"] = "Astrocal";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
<div class="text-center">
    <h1 class="display-4">Astrocal</h1>
    <div class="row" style="justify-content: center;">
    <a class="btn-log" style="margin-right: .5cm" href="login">Login</a>
    <a class="btn-log" href="Dados/Create">Cadastre-se</a>
    </div>
</div>
